In [1]:
# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Improt the numpy and pandas package
import numpy as np
import pandas as pd

In [3]:
# read the data set
bike_df = pd.read_csv('1mpSEFmr.csv');

In [4]:
bike_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [5]:
bike_df.shape

(730, 16)

In [6]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.4+ KB

In [7]:
bike_df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,365.500000,2.498630,0.500000,6.526027,0.028767,2.997260,0.683562,1.394521,20.319259,23.726322,62.765175,12.763620,849.249315,3658.757534,4508.006849
std,210.877136,1.110184,0.500343,3.450215,0.167266,2.006161,0.465405,0.544807,7.506729,8.150308,14.237589,5.195841,686.479875,1559.758728,1936.011647
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.424346,3.953480,0.000000,1.500244,2.000000,20.000000,22.000000
25%,183.250000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,13.811885,16.889713,52.000000,9.041650,316.250000,2502.250000,3169.750000
50%,365.500000,3.000000,0.500000,7.000000,0.000000,3.000000,1.000000,1.000000,20.465826,24.368225,62.625000,12.125325,717.000000,3664.500000,4548.500000
75%,547.750000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,26.880615,30.445775,72.989575,15.625589,1096.500000,4783.250000,5966.000000
max,730.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,35.328347,42.044800,97.250000,34.000021,3410.000000,6946.000000,8714.000000

In [8]:
# transforming weathersit feature:
bike_df['weathersit']= bike_df['weathersit'].map({1: 'Clear to Partly Cloudy', 2: 'Misty and Cloudy',
                                                  3: 'Light Rain or Snow', 4: 'Heavy Rain or Snow'})

In [9]:
# transforming season feature:
bike_df['season']= bike_df['season'].map({1: 'Spring', 2: 'Summer', 3: 'Fail', 4: 'Winter'})

In [10]:
# Mapping month feature:
bike_df['mnth']= bike_df['mnth'].map({1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5:'May', 6:'Jun', 7:'Jul', 8:'Aug', 9:'Sep', 10:'Oct', 11: 'Nov', 12:'Dec'})

In [11]:
# Mapping weekday feature:
bike_df['weekday']= bike_df['weekday'].map({0: 'Sun', 1: 'Mon', 2: 'Tue', 3: 'Wed', 4:'Thu', 5:'Fri', 6: 'Sat'})

In [12]:
# Re - observing the data
bike_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,Spring,0,Jan,0,Sat,0,Misty and Cloudy,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,Spring,0,Jan,0,Sun,0,Misty and Cloudy,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,Spring,0,Jan,0,Mon,1,Clear to Partly Cloudy,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,Spring,0,Jan,0,Tue,1,Clear to Partly Cloudy,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,Spring,0,Jan,0,Wed,1,Clear to Partly Cloudy,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [13]:
# Creating subplot grid:
fig, ax= plt.subplots(nrows= 1, ncols= 2, figsize= (12, 5))

# Creating main title
fig.suptitle('basic analysis of target variable (cnt)'.upper(), fontsize= 20)

# Populating plott:
sns.boxplot(y=bike_df['cnt'], ax= ax[0], color= 'purple')
ax[0].set_title('boxplot showing the basic statistics of target variable'.upper(),
                fontsize= 12, fontweight= 20, y= 1.02)

# Populating plot2
sns.distplot(bike_df['cnt'], ax= ax[1], color= 'purple')
ax[1].set_title('distribution plot of target variable (cnt)'.upper(),
                fontsize= 12, fontweight= 20, y= 1.20)

NameError: name 'plt' is not defined

In [ ]:
# creating a list of continuous independent variables for analysis
cont_var= [i for i in bike_df.select_dtypes(exclude= 'object').columns if bike_df[i].nunique() >2 and i != 'cnt']

In [ ]:
# creating a subplot grid
fig, ax= plt.subplots(nrows= 1, ncols= len(cont_var), figsize= (12, 5))

# Placing main title
plt.suptitle('boxplots showing basic weather trends'.upper(), fontsize=20)

# Looping to fill subplot grid with plots
for i in range(len(cont_var)):

    sns.boxplot(y=bike_df[cont_var[i]], ax= ax[i], color= 'Purple')
    # Setting aesthetics and readability
    ax[i].set_title(f'{cont_var[i].upper()}', fontsize= 15)
    

# Setting final aesthetics
plt.tight_layout()
plt.show()

In [ ]:
# Creating a subplot grid
fig, ax= plt.subplots(nrows= 1, ncols= len(cont_var), figsize= (20, 5))

# Placing main title
plt.suptitle('distplots showing weather trends'.upper(), fontsize= 20)

# Looping to fill subplot grid with plots
for i in range(len(cont_var)):
    sns.distplot(bike_df[cont_var[i]], ax= ax[i], color= 'purple')
    # Setting aesthetics and readability
    ax[i].set_title(f'{cont_var[i].upper()}', fontsize= 15)
    
# Setting final aesthetics
plt.tight_layout()
plt.show()

In [ ]:
# Creating a subplot grid
fig, ax= plt.subplots(nrows= 2, ncols= int(len(cont_var)/2), figsize= (20, 9), sharey=True)

#Placing main title
plt.suptitle('reltationship of continuous variables with target variable'.upper(), fontsize= 20, y= 0.99)

# Looping to fill subplot grid with plots
k=0
for i in range(2):
    for j in range(int(len(cont_var)/2)):
        sns.regplot(x= bike_df[cont_var[k]], y=bike_df['cnt'], ax= ax[i, j],
                    scatter_kws= {'color': 'yellow'}, line_kws= {'color': 'purple'})
        # Setting aesthetics and readability
        ax[i,j].set_title(f'{cont_var[k].upper()}', fontsize= 15)
        
        k+=1

# Setting final aesthetics
plt.tight_layout()
plt.show()